h3 {
  cursor: pointer;
  padding: 5px;
}

.collection-preview {
  display: flex;
  width: 80%;
  height: auto;
  cursor: pointer;
}

.title {
  font-size: 55px;
  padding: 25px;
}

.introduction {
  font-size: inherit;
  margin: 0 2em;
}

.arrow-down {
  font-size: 6em;
  margin-left: 1rem;
  display: inline-block;
  transform: rotate(45deg);
  cursor: pointer;
}

.collections {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  align-items: flex-end;
  margin-right: 30px;
}

.collection-1,
.collection-2 {
  display: flex;
  flex-direction: column; /* Aligns items to the end horizontally */
  margin: 0 30px;
  padding: 30px 0;
}

.collection-1 {
  align-items: flex-end; /* Aligns items to the end horizontally */
}

.collection-2 {
  align-items: flex-start; /* Aligns items to the start */
}

@media screen and (min-width: 767px) {
  .collection-preview {
    display: flex;
    width: 45%;
    height: auto;
    cursor: pointer;
  }

  .title {
    font-size: 85px;
  }

  .introduction {
    font-size: 35px;
  }

  .collections {
    font-size: 60px;
  }

  .img-2 {
    width: 90%;
  }

  .collection-1,
  .collection-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Aligns items to the end horizontally */
  }

  .collection-2 {
    align-items: flex-start; /* Aligns items to the start */
    position: relative;
    top: -150px;
    left: 100px;
    width: 40%;
  }

  .arrow-down {
    margin-left: 3rem;
  }
}
