.navbar {
  background-color: #fff;
  color: #333;
  font-size: large;
  border: none;
  padding-top: 10px;
  margin-bottom: 0;
}

.navbar-image {
  width: 100px;
  height: auto;
  border-radius: 50%;
}

.dropdown-menu {
  border: none;
}

@media screen and (min-width: 767px) {
  .nav-link {
    font-size: 23px;
  }
}
